/* Titulo principal inicio */
.titulo-principal{
    padding-top: 5px !important;
}

.reserva-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0 !important;
    margin: 0 !important;
    color: rgb(105, 104, 104);
}

.reserva-items div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Titulo principal final */

/* imagen inicio */
.img-principal{
    object-fit: cover;
    width: 555px;
    height: 500px;
}

.img-sec{
    object-fit: cover;
    width: 273px;
    height: 250px;
}
/* imagen final */

/* Descripcion inicio */
.titulo-cochera-uno{
    font-size: 1.5em;
    font-weight: 500;
}
.titulo-cochera-dos{
    font-weight: 300;
}
.titulo-fechas{
    font-size: 1.5em;
    font-weight: 500;   
}
/* Descripcion final */

/* Date Static inicio */
.static-date-container{
    width: 55vw;
}
/* Date Static fin */

/* card inicio*/
.date-container{
    margin-top:25px;
    width: 100%;
} 

.card-precio{
    font-size: 2em;
    font-weight: 500;
}

.card-precio-aux{
    font-size: 1.5em;
}

.titulo-cochera{
    text-align: left;
}

.card-main-info{
    position: sticky;
    top:30px;
}

.card-info{
    padding: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* card final*/

/* mapa inicio */
.titulo-mapa{
    font-size: 1.5em;
    font-weight: 500;   
}
/* mapa final */



