.container {
    height: 10vh;
    width: 98% !important;
    background-image: linear-gradient(45deg, #1b3444 0%, #2c2542 50%,black 100%);
    background-size: 170% 170%;
    animation: gradient 15s ease infinite;
    overflow: hidden;
    font-family: roboto;
    color: white;
    padding: 0 20px;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 97%;
    box-shadow: 1px 5px 11px 1px rgba(0,0,0,0.39);
    -webkit-box-shadow: 1px 5px 11px 1px rgba(0,0,0,0.39);
    -moz-box-shadow: 1px 5px 11px 1px rgba(0,0,0,0.39);
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    /* border: #000 solid 1px; */
  }
  
  .ul-nav {
    display: flex;
  }
  
  .li-nav {
    list-style: none;
  }
  
  .li-nav a {
    color: white;
    padding: 20px;
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(255, 166, 23);
  }