.head-card {
    color: #194c6b;
}
.card-container{
    height: 43vh !important;
}

.cardContent-paracas {
    background-color: #D93B30;
}

.cardContent-ayacucho {
    background-color: #BC1A6E;
}

.cardContent-oxapampa {
    background-color: #CC2D4A;
}

.cardContent-chincha {
    background-color: #DE3151;
}

.card-body {
    height: 300px;
}

.card-img {
    border-radius: 20px 20px 0px 0px;
}

.title-card {
    color: white;
    font-weight: bold;
}

.body-card {
    color: white;
}