.head-card {
    color: #194c6b;
}

.cardContent-paracas {
    background-color: #cf4a40;
}

.cardContent-ayacucho {
    background-color: #BC1A6E;
}

.cardContent-oxapampa {
    background-color: #1b201fdc;
}

.cardContent-chincha {
    background-color: #DE3151;
}

.card-body {
    height: 300px;
}

.card-img {
    border-radius: 20px 20px 0px 0px;
}

.title-card {
    color: white;
    font-weight: bold;
}

.body-card {
    color: white;
}