.banner {
    background-color: hsl(0, 94%, 66%);
    border: solid 5px FF385C;
    border-radius: 5px;
    height: 50vh;
    margin-bottom: 20px;
}

.title {
    font-size: 2em;
    color: white;
    font-weight: bold;
}

.button {
    padding-right: 30px;
      padding-left: 30px;
      padding-top: 5px;
      padding-bottom: 5px;
      font-size: 1.05em;
      border: solid white 2px;
      background-color: FF385C;
      border-radius: 8px;
}