.banner {
    height: 91vh !important;
    background-image: linear-gradient(20deg, #1b3444 0%, #2c2542 50%,rgba(0, 0, 0, 0.918) 100%);
    background-size: 200% 200% !important;
    animation: gradient 15s ease infinite;
    background-size: contain;
    padding: 40px 0;
}
.div-banner{
    background: linear-gradient(160deg, #1b34445b 0%, #2c254277 50%,rgba(0, 0, 0, 0.479) 100%),url("../../assets/home.webp");
    animation: gradient 90s ease infinite;
    background-repeat: no-repeat;
    background-size: cover !important;
    min-width: 76% ;
    max-width: 76% ;
    border-radius: 20px;
}

.title {
    font-size: 2.5em;
    color: white;
    font-weight: bold;
    height: 60vh;
    display: flex;
    align-items: end;
    justify-content: end;
}

.button {
    margin-top: 20px !important;
    padding: 14px !important;
    border-radius: 15px !important;
    background-color: rgb(243, 243, 243) !important;
    color: #9e35aa  !important;
    font-size: 17px !important;
}

