.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-busqueda{
    border:1px solid rgba(104, 99, 99, 0.473);
    height: 36px;
    border-radius: 25px 0 0 25px;
    width: 250px;
    
}

.input-serch-button{
    border-radius: 0 25px 25px 0;
    background-color: rgba(104, 99, 99, 0.473);
}

.nav-user-button{
    border-radius: 30px;
    border: 1px solid rgba(104, 99, 99, 0.473);
    padding: 10px;
}

