.media-container {
    height: 9vh;
    background-color: #D93B30;
}

.logo-titulo3 {
    font-size: 1.8em;
    font-weight: bold;
    color: white;
}

.logo-titulo4 {
    border: solid snow;
    border-radius: 50%;
    padding: 5px;
    background-color: #D93B30;
    color: white;
}