.footer-container {
    height: 30vh;
    background-image: linear-gradient(45deg, #1b3444 0%, #2c2542 50%,black 100%);
    background-size: 210% 210%;
    margin-top: 20px;
    padding-top: 30px;
}

.footer-op {
    margin: 5px;
}