/*? Animacion y estilo para la pagina principal */
body{
    margin: 0;
}
.grid-container{
    background-image: linear-gradient(45deg, #1b3444 0%, #2c2542 50%,black 100%);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    width: 100% !important;
    overflow: hidden;
    font-family: roboto;
}
.home-grid{
    padding: 0;
}
    
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
};

h1{
    font-size: 45px;
}
p{
    font-size: 20px;
    max-width: 50%;
    min-width: 40%;
    margin-left: auto;
    margin-right: auto;
}
.container-button{
    padding: 0 24px;
    color: #863850;
}

.div-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.division{
    border: solid 1px;
    display: inline-block;
    width: 48%;
    height: 0;
    opacity: 0.2;
}

/*? varaibles para los estilos de las flechas y el carrusel */
.awssld{
    --organic-arrow-thickness: 10px;
    --organic-arrow-border-radius: 30px;
    --organic-arrow-height: 35px;
    --organic-arrow-color: #000000;
    --slider-height-percentage: 90vh;
    --slider-transition-duration: 2000ms;
    color: rgba(61, 59, 59, 0.226);
}

/*? componentes, de inicar sesion y registro, modificados mediante sus clases */
.css-1e5i0ke-MuiGrid-root {
    height: 100vh !important;
}
.MuiTabs-flexContainer{
    justify-content: center;
}
.css-tlc64q-MuiPaper-root-MuiDialog-paper{
    border-radius: 25px !important;
}
/* color inicio sesion */
.css-h0q0iv-MuiButtonBase-root-MuiTab-root.Mui-selected{
    color: #194c6b !important;
    font-size: 14px;
    font-weight: 700;
}
/* color animacion de raya debalo del inibio y registro */
.css-1aquho2-MuiTabs-indicator{
    background-color: #612351 !important;
}
